# Simple and expressive file management in Swift
github "nvzqz/FileKit" "d1772be3abad0586cd776f7112cc03b7740507e1"

# Handy Swift features that didn't make it into the Swift standard library.
github "Flinesoft/HandySwift"